Repository bliss-design/bliss: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, eslint --fix, prettier --write

refactor(code): Improve code for best practices
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor(code): Improve code for best practices (#8)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

feat(workflow): Implement release action
  .github/workflows/release.yml
Due: none

feat(workflow): Implement Release Action (#10)
  .github/workflows/release.yml
Due: none

feat(utils): Implement withAsPolymorphic HOC
  packages/with-as-polymorphic/CHANGELOG.md
  packages/with-as-polymorphic/README.md
  packages/with-as-polymorphic/package.json
  packages/with-as-polymorphic/src/index.ts
  packages/with-as-polymorphic/src/with-as-polymorphic.tsx
  packages/with-as-polymorphic/src/with-as-polymorphic.types.ts
  packages/with-as-polymorphic/tsconfig.json
  packages/with-as-polymorphic/tsup.config.ts
Due: eslint --fix, prettier --write

feat(utils): Implement withAsPolymorphic HOC (#12)
  packages/with-as-polymorphic/CHANGELOG.md
  packages/with-as-polymorphic/README.md
  packages/with-as-polymorphic/package.json
  packages/with-as-polymorphic/src/index.ts
  packages/with-as-polymorphic/src/with-as-polymorphic.tsx
  packages/with-as-polymorphic/src/with-as-polymorphic.types.ts
  packages/with-as-polymorphic/tsconfig.json
  packages/with-as-polymorphic/tsup.config.ts
Due: eslint --fix, prettier --write

chore(withAsPolymorphic): Release version 1.0.0
  packages/with-as-polymorphic/CHANGELOG.md
Due: prettier --write

chore(withAsPolymorphic): Release version 1.0.0 (#14)
  packages/with-as-polymorphic/CHANGELOG.md
Due: prettier --write

fix(lockfile): Resolve error in release action
  pnpm-lock.yaml
Due: none

fix(lockfile): Resolve error in release action (#18)
  pnpm-lock.yaml
Due: none

feat(utils): Implement withPolymorphic HOC
  packages/with-polymorphic/CHANGELOG.md
  packages/with-polymorphic/README.md
  packages/with-polymorphic/package.json
  packages/with-polymorphic/src/index.ts
  packages/with-polymorphic/src/with-polymorphic.tsx
  packages/with-polymorphic/src/with-polymorphic.types.ts
  packages/with-polymorphic/tsconfig.json
  packages/with-polymorphic/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

feat(utils): Implement withPolymorphic HOC (#21)
  packages/with-polymorphic/CHANGELOG.md
  packages/with-polymorphic/README.md
  packages/with-polymorphic/package.json
  packages/with-polymorphic/src/index.ts
  packages/with-polymorphic/src/with-polymorphic.tsx
  packages/with-polymorphic/src/with-polymorphic.types.ts
  packages/with-polymorphic/tsconfig.json
  packages/with-polymorphic/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(withPolymorphic): Release version 1.0.0
  packages/with-polymorphic/CHANGELOG.md
  packages/with-polymorphic/package.json
Due: prettier --write

chore(withPolymorphic): Release version 1.0.0 (#23)
  packages/with-polymorphic/CHANGELOG.md
  packages/with-polymorphic/package.json
Due: prettier --write

fix(withPolymorphic): Missing types export
  packages/with-polymorphic/src/index.ts
Due: eslint --fix, prettier --write

fix(withPolymorphic): Missing types export (#27)
  packages/with-polymorphic/src/index.ts
Due: eslint --fix, prettier --write

Merge feat/v1 branch into main for publish (#25)
  packages/with-polymorphic/CHANGELOG.md
  packages/with-polymorphic/README.md
  packages/with-polymorphic/package.json
  packages/with-polymorphic/src/index.ts
  packages/with-polymorphic/src/with-polymorphic.tsx
  packages/with-polymorphic/src/with-polymorphic.types.ts
  packages/with-polymorphic/tsconfig.json
  packages/with-polymorphic/tsup.config.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

Path conditions:
  https://json.schemastore.org/lintstagedrc.schema.json: any of: $schema
  eslint --fix: any of: **/*.{ts,tsx}
  prettier --write: (any of: **/*.{ts,tsx}) or (any of: **/*.{md,css,json})
